{% extends 'basic.html' %}


{% block body %}
<style>
  *{
    margin:0;
    padding: 0;
  }
  .card{
    border-radius:20px;
    z-index:2;
  }
  .card:hover{
    /* border-radius:0px; */
    transition: all;
    /* transition-duration: 1s; */
    /* transform: scale(1.1); */
  }
  .card-img-top{
    border-radius:20px 20px 0px 0px;
  }
  .card-btn:hover{
    transition: all;
    transition-duration: 1s;
    border-radius: 30px;
    /* transform: scaleX(5); */
  }
  .container-fluid,body{

    height: 100%;
  }
  </style>
<div class="container-fluid h-100 w-100 d-flex flex-wrap text-center p-5 justify-content-center">

    <div class="card mx-auto my-1" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f5/de/a7/f5dea7a4b566322f08b1d701254cf4a3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/SODEOD" class="card-btn btn btn-primary">SOD/EOD</a>
        </div>
      </div>
   
    <div class="card mx-auto my-1" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f5/de/a7/f5dea7a4b566322f08b1d701254cf4a3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/SODEOD" class="card-btn btn btn-primary">Cpu Utilization</a>
        </div>
      </div>
   
    <div class="card mx-auto my-1" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f5/de/a7/f5dea7a4b566322f08b1d701254cf4a3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/" class="card-btn btn btn-primary">NTP Status</a>
        </div>
      </div>
   
    <div class="card mx-auto my-1" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f5/de/a7/f5dea7a4b566322f08b1d701254cf4a3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="card-btn btn btn-primary">Interface Status</a>
        </div>
      </div>
      <div class="card mx-auto my-1" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f5/de/a7/f5dea7a4b566322f08b1d701254cf4a3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/SODEOD" class="card-btn btn btn-primary">SOD/EOD</a>
        </div>
      </div>
   
    <div class="card mx-auto my-1" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f5/de/a7/f5dea7a4b566322f08b1d701254cf4a3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="card-btn btn btn-primary">Device Inventory</a>
        </div>
      </div>
   
    <div class="card mx-auto my-1" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f5/de/a7/f5dea7a4b566322f08b1d701254cf4a3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="card-btn btn btn-primary">Go somewhere</a>
        </div>
      </div>
   
    <div class="card mx-auto my-1" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f5/de/a7/f5dea7a4b566322f08b1d701254cf4a3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="card-btn btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
</div>
{% endblock body %}